<header>
    
    <h1>{{title}}</h1>

    <div>
        <a href="/">Index</a><!--//家兩個中括號裡面打上在app.js的變數就可以呼叫-->
        <a href="/about">about me</a>
        <a href="/help">help</a>
    </div>
</header>
